#$fermi tmstrt=1000.00 tmend=20 tmfac=0.95 hlcrt=1.0E-01 stop=1.0E-03
#$pop nbo
$title
$symmetry d2d
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-TZVP                                                         \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-TZVP
tb 2-3                                                                         \
   basis =tb def2-TZVP                                                         \
   ecp   =tb def2-ecp                                                          \
   jbas  =tb def2-TZVP
s  4-7                                                                         \
   basis =s def2-TZVP                                                          \
   jbas  =s def2-TZVP
c  8-27                                                                        \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
h  28-47                                                                       \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit       500
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.025  min=0.050
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   3500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   4
   weight derivatives
$ricore    55000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=47
   nbf(CAO)=1286
   nbf(AO)=1114
#$marij
$ssquare from ridft
         50.133 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$last SCF energy change = -.10450094E-08
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$redundant    file=coord
$energy    file=energy
$grad    file=gradient
$scfconv   7
$denconv 1d-7
$scforbitalshift  closedshell=.5
$disp3 bj
$last step      force
$dipole from ridft
  x     0.00000000000004    y     0.00000000000035    z     0.00000000000011    a.u.
   | dipole | =    0.0000000000  debye
$alpha shells
 a1      1-26                                   ( 1 )
 a2      1-10                                   ( 1 )
 b1      1-10                                   ( 1 )
 b2      1-26                                   ( 1 )
 e       1-34                                   ( 1 )
$beta shells
 a1      1-28                                   ( 1 )
 a2      1-11                                   ( 1 )
 b1      1-11                                   ( 1 )
 b2      1-27                                   ( 1 )
 e       1-38                                   ( 1 )
$orbital_max_rnorm 0.25226224961970E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-4085.310174453    -16391.32079562     7556.986257534    -285.7200625421    -11.65163130398     5046.504487307    -.1084298325328
$restart force
$end
