d2d/anionic/old/def2-tzvp/ex_100/gas/alpha filter=lfs diff=lfs merge=lfs -text
d2d/anionic/old/def2-tzvp/ex_100/gas/beta filter=lfs diff=lfs merge=lfs -text
d2d/anionic/old/def2-tzvp/c1_opt/beta filter=lfs diff=lfs merge=lfs -text
d2d/anionic/old/def2-tzvp/ex_100/thf/alpha filter=lfs diff=lfs merge=lfs -text
d2d/anionic/old/def2-tzvp/ex_100/thf/beta filter=lfs diff=lfs merge=lfs -text
d2d/anionic/def2-svp/screw_b1/opt/screw_b2/opt/gas/101a_a.cub filter=lfs diff=lfs merge=lfs -text
d2d/anionic/def2-svp/screw_b1/opt/screw_b2/opt/gas/102a_a.cub filter=lfs diff=lfs merge=lfs -text
d2d/anionic/old/def2-tzvp/c1_opt/alpha filter=lfs diff=lfs merge=lfs -text
