$title
$symmetry s4
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-SVP                                                          \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-SVP
y  2,49                                                                        \
   basis =y def2-SVP                                                           \
   ecp   =y def2-ecp                                                           \
   jbas  =y def2-SVP
s  3-6                                                                         \
   basis =s def2-SVP                                                           \
   jbas  =s def2-SVP
c  7-25,38,50-69                                                               \
   basis =c def2-SVP                                                           \
   jbas  =c def2-SVP
h  26-37,39-48,70-107                                                          \
   basis =h def2-SVP                                                           \
   jbas  =h def2-SVP
$basis    file=basis
$ecp    file=basis
$scfmo   file=mos
$closed shells
 a       1-50                                   ( 2 )
 b       1-50                                   ( 2 )
 e       1-100                                  ( 2 )
$scfiterlimit       30
$thize     0.10000000E-04
$thime        5
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$scforbitalshift  automatic=.1
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore    50000
$rij
$jbas    file=auxbasis
$dft
   functional tpssh
   gridsize   4
$denconv     0.10000000E-06
$disp3 bj
$scfconv   7
$rundimensions
   natoms=107
   nbf(CAO)=1084
   nbf(AO)=1025
$last step     ridft
$last SCF energy change = -.19403933E-06
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x     0.00000000000038    y     0.00000000000021    z     0.00000000000567    a.u.
   | dipole | =    0.0000000000  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.26536201211427E-05
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-3297.462703520    -21083.04758385     9821.193518458    -312.3078892720    -13.92065374007     8290.866525287    -.2466204054113
$end
