$title
$symmetry s4
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-TZVP                                                         \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-TZVP
y  2-3                                                                         \
   basis =y def2-TZVP                                                          \
   ecp   =y def2-ecp                                                           \
   jbas  =y def2-TZVP
s  4-7                                                                         \
   basis =s def2-TZVP                                                          \
   jbas  =s def2-TZVP
c  8-27                                                                        \
   basis =c def2-SVP                                                           \
   jbas  =c def2-SVP
h  28-47                                                                       \
   basis =h def2-SVP                                                           \
   jbas  =h def2-SVP
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit       100
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$alpha shells
 a       1-30                                   ( 1 )
 b       1-31                                   ( 1 )
 e       1-60                                   ( 1 )
$beta shells
 a       1-30                                   ( 1 )
 b       1-30                                   ( 1 )
 e       1-60                                   ( 1 )
$ricore    50000
$rij
$jbas    file=auxbasis
$dft
   functional tpssh
   gridsize   4
$scfconv   7
$scforbitalshift  closedshell=.05
$disp3 bj
$denconv     0.10000000E-06
$rundimensions
   natoms=47
   nbf(CAO)=706
   nbf(AO)=648
$last step     ridft
$ssquare from ridft
          0.757 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x     0.00000000000002    y    -0.00000000000003    z     0.00000000000074    a.u.
   | dipole | =    0.0000000000  debye
$last SCF energy change = -.39648512E-07
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.82086068445464E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2512.153506612    -10270.55723209     4584.370650656    -205.9728659269    -8.636312450613     3388.750725005    -.1084718101986
$end
