$title
$symmetry c1
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-TZVP                                                         \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-TZVP
dy 2-3                                                                         \
   basis =dy def2-TZVP                                                         \
   ecp   =dy def2-ecp                                                          \
   jbas  =dy def2-TZVP
s  4-7                                                                         \
   basis =s def2-TZVP                                                          \
   jbas  =s def2-TZVP
c  8-27                                                                        \
   basis =c def2-TZVP                                                          \
   jbas  =c def2-TZVP
h  28-47                                                                       \
   basis =h def2-TZVP                                                          \
   jbas  =h def2-TZVP
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit       1000
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.050
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   3500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore    55000
$rij
$jbas    file=auxbasis
$dft
   functional tpssh
   gridsize   4
   weight derivatives
$scfconv   7
$scforbitalshift  closedshell=.1
$disp3 bj
$rundimensions
   natoms=47
   nbf(CAO)=1286
   nbf(AO)=1114
$ssquare from ridft
         26.781 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x     0.00000001101415    y     0.00000001304088    z     0.00010100858074    a.u.
   | dipole | =    0.0002567401  debye
$alpha shells
 a       1-152                                  ( 1 )
$beta shells
 a       1-143                                  ( 1 )
$last step     ridft
$last SCF energy change = -.45229262E-06
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.52932635396685E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-4206.642193211    -16767.63329207     7744.268258640    -289.8685029212    -11.84516384318     5118.546973885    -.1104668984301
$end
