$pop nbo
 lall
$title
$symmetry d2d
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-SV(P)                                                        \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-SV(P)
dy 2-3                                                                         \
   basis =dy def2-SV(P)                                                        \
   ecp   =dy def2-ecp                                                          \
   jbas  =dy def2-SV(P)
s  4-7                                                                         \
   basis =s def2-SV(P)                                                         \
   jbas  =s universal
c  8-27                                                                        \
   basis =c def2-SV(P)                                                         \
   jbas  =c universal
h  28-47                                                                       \
   basis =h def2-SV(P)                                                         \
   jbas  =h universal
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit       300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.050
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$dft
   functional tpssh
   gridsize   m4
$disp3 bj
$ricore      15000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=47
   nbf(CAO)=606
   nbf(AO)=554
$last SCF energy change = -.25014513E-01
$ssquare from ridft
          7.746 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$optinfo       file=optinfo
$hessapprox   file=hessapprox
#$maxcor    2000 MiB  per_core
$newecp
$maxcor   2000 MiB  per_core
$forceapprox    file=forceapprox
$scfconv   6
$scforbitalshift  closedshell=0.5
$marij
$energy    file=energy
$grad    file=gradient
$dipole from ridft
  x     0.00000000000010    y     0.00000000000022    z    -0.00000000000151    a.u.
   | dipole | =    0.0000000000  debye
$alpha shells
 a1      1-27                                   ( 1 )
 a2      1-11                                   ( 1 )
 b1      1-11                                   ( 1 )
 b2      1-27                                   ( 1 )
 e       1-36                                   ( 1 )
$beta shells
 a1      1-27                                   ( 1 )
 a2      1-10                                   ( 1 )
 b1      1-11                                   ( 1 )
 b2      1-27                                   ( 1 )
 e       1-36                                   ( 1 )
$last step     ridft
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-4205.179300217    -16643.38974708     7681.661649456    -289.5696591551    -11.85620191328     5058.082750889    -.1080924134827
$restart dscf
$end
