$pop nbo
$title
$symmetry d2d
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-SV(P)                                                        \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-SV(P)
tb 2-3                                                                         \
   basis =tb def2-SV(P)                                                        \
   ecp   =tb def2-ecp                                                          \
   jbas  =tb def2-SV(P)
s  4-7                                                                         \
   basis =s def2-SV(P)                                                         \
   jbas  =s def2-SV(P)
c  8-27                                                                        \
   basis =c def2-SV(P)                                                         \
   jbas  =c def2-SV(P)
h  28-47                                                                       \
   basis =h def2-SV(P)                                                         \
   jbas  =h def2-SV(P)
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit       300
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   m4
$scfconv   6
$maxcor   2000 MiB  per_core
$scforbitalshift  closedshell=0.5
$ricore    15000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=47
   nbf(CAO)=606
   nbf(AO)=554
$alpha shells
 a1      1-27                                   ( 1 )
 a2      1-11                                   ( 1 )
 b1      1-11                                   ( 1 )
 b2      1-28                                   ( 1 )
 e       1-38                                   ( 1 )
$beta shells
 a1      1-26                                   ( 1 )
 a2      1-10                                   ( 1 )
 b1      1-10                                   ( 1 )
 b2      1-26                                   ( 1 )
 e       1-34                                   ( 1 )
$marij
$last step     ridft
$ssquare from ridft
         50.176 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x     0.00000000000018    y    -0.00000000000037    z     0.00000000000188    a.u.
   | dipole | =    0.0000000000  debye
$last SCF energy change = 0.19204798E-01
$orbital_max_rnorm 0.12564400649145E-02
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-4083.737564802    -16429.20291200     7575.319498636    -316.5474902585    -11.67009222949     5067.122468737
$end
