$title
$symmetry c2
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-SV(P)                                                        \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-SVP
tb 2,49                                                                        \
   basis =tb def2-SV(P)                                                        \
   ecp   =tb def2-ecp                                                          \
   jbas  =tb def2-SVP
s  3-6                                                                         \
   basis =s def2-SV(P)                                                         \
   jbas  =s def2-SVP
c  7-25,38,50-69                                                               \
   basis =c def2-SV(P)                                                         \
   jbas  =c def2-SVP
h  26-37,39-48,70-107                                                          \
   basis =h def2-SV(P)                                                         \
   jbas  =h def2-SVP
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit       500
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.050
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   2500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$forceapprox    file=forceapprox
$ricore    50000
$rij
$jbas    file=auxbasis
$dft
   functional tpssh
   gridsize   4
   weight derivatives
$scfconv   7
$scforbitalshift  closedshell=.1
$disp3 bj
$denconv     0.10000000E-06
$rundimensions
   natoms=107
   nbf(CAO)=986
   nbf(AO)=914
$energy    file=energy
$grad    file=gradient
$marij
$alpha shells
 a       1-116                                  ( 1 )
 b       1-116                                  ( 1 )
$beta shells
 a       1-110                                  ( 1 )
 b       1-111                                  ( 1 )
$last step     ridft
$ssquare from ridft
         38.189 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x    -0.00000000000021    y     0.00000000000438    z    -0.36206427069381    a.u.
   | dipole | =    0.9202825372  debye
$orbital_max_rnorm 0.20511467950810E-03
$last SCF energy change = -4869.7196
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-4869.719578846    -29008.28559437     13716.37189240    -391.9012139135    -16.97651181787     10831.32211222    -.2502633732276
$end
