$pop nbo
$title
$marij
$symmetry d2d
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-SV(P)                                                        \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-SV(P)
gd 2-3                                                                         \
   basis =gd def2-SV(P)                                                        \
   ecp   =gd def2-ecp                                                          \
   jbas  =gd def2-SV(P)
s  4-7                                                                         \
   basis =s def2-SV(P)                                                         \
   jbas  =s def2-SV(P)
c  8-27                                                                        \
   basis =c def2-SV(P)                                                         \
   jbas  =c def2-SV(P)
h  28-47                                                                       \
   basis =h def2-SV(P)                                                         \
   jbas  =h def2-SV(P)
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit      1000
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.050
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   2500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore    20000
$rij
$jbas    file=auxbasis
$dft
   functional tpssh
   gridsize   4
$scfconv   7
$scforbitalshift  closedshell=.05
$disp3 bj
$rundimensions
   natoms=47
   nbf(CAO)=606
   nbf(AO)=554
$alpha shells
 a1      1-28                                   ( 1 )
 a2      1-11                                   ( 1 )
 b1      1-11                                   ( 1 )
 b2      1-27                                   ( 1 )
 e       1-38                                   ( 1 )
$beta shells
 a1      1-25                                   ( 1 )
 a2      1-10                                   ( 1 )
 b1      1-10                                   ( 1 )
 b2      1-25                                   ( 1 )
 e       1-34                                   ( 1 )
$last step     ridft
$ssquare from ridft
         63.932 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x    -0.00000000000009    y    -0.00000000000012    z    -0.00000000000051    a.u.
   | dipole | =    0.0000000000  debye
$last SCF energy change = -.78291645E-01
$orbital_max_rnorm 0.40804207851278E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-3966.124431113    -15856.38730136     7289.784132972    -277.1792111427    -11.52209583829     4889.289995195    -.1099509383789
$end
