$cosmo
  epsilon=    7.250
  rsolv= 1.30
$cosmo_atoms
# radii in Angstrom units
mo 1                                                                           \
   radius=  2.5840
y  2,49                                                                        \
   radius=  1.8000
s  3-6                                                                         \
   radius=  2.1600
c  7-25,38,50-69                                                               \
   radius=  2.0000
h  26-37,39-48,70-107                                                          \
   radius=  1.3000
$cosmo_out file=out.ccf
$cosmo_correlated
$title
$symmetry d2d
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-SVPD                                                         \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo universal-ecp-28
y  2,49                                                                        \
   basis =y  def2-SVPD                                                         \
   ecp   =y def2-ecp                                                           \
   jbas  =y universal-ecp-28
s  3-6                                                                         \
   basis =s  def2-SVPD                                                         \
   jbas  =s universal
c  7-25,38,50-69                                                               \
   basis =c  def2-SVPD                                                         \
   jbas  =c universal
h  26-37,39-48,70-107                                                          \
   basis =h  def2-SVPD                                                         \
   jbas  =h universal
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit       100
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor   3500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$dft
   functional tpssh
   gridsize   4
   weight derivatives
$scfconv        7
$denconv 1d-7
$scforbitalshift  closedshell=.05
$ricore    65000
$rij
$disp3 bj
$rundimensions
   natoms=107
   nbf(CAO)=1593
   nbf(AO)=1490
$last SCF energy change = -.25919826E-06
$ssquare from ridft
          0.754 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x     0.00000000011643    y    -0.00000000015817    z    -0.00000000051317    a.u.
   | dipole | =    0.0000000014  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-3299.715170800    -21114.45629297     9858.016724295    -313.3744688602    -13.91129990324     8284.256306234    -.2461395952562
$restart dscf
$jbas file=auxbasis
$alpha shells
 a1      1-33                                   ( 1 )
 a2      1-18                                   ( 1 )
 b1      1-18                                   ( 1 )
 b2      1-32                                   ( 1 )
 e       1-50                                   ( 1 )
$beta shells
 a1      1-32                                   ( 1 )
 a2      1-18                                   ( 1 )
 b1      1-18                                   ( 1 )
 b2      1-32                                   ( 1 )
 e       1-50                                   ( 1 )
$last step     ridft
$end
