$title
$symmetry s4
$redundant    file=coord
$user-defined bonds    file=coord
$coord    file=coord
$optimize
 internal   on
 redundant  on
 cartesian  off
 global     off
 basis      off
$atoms
mo 1                                                                           \
   basis =mo def2-SVP                                                          \
   ecp   =mo def2-ecp                                                          \
   jbas  =mo def2-SVP
y  2,49                                                                        \
   basis =y def2-SVP                                                           \
   ecp   =y def2-ecp                                                           \
   jbas  =y def2-SVP
s  3-6                                                                         \
   basis =s def2-SVP                                                           \
   jbas  =s def2-SVP
c  7-25,38,50-69                                                               \
   basis =c def2-SVP                                                           \
   jbas  =c def2-SVP
h  26-37,39-48,70-107                                                          \
   basis =h def2-SVP                                                           \
   jbas  =h def2-SVP
$basis    file=basis
$ecp    file=basis
$uhfmo_alpha   file=alpha
$uhfmo_beta   file=beta
$uhf
$scfiterlimit       100
$thize     0.10000000E-04
$thime        5
$scfdamp   start=1.000  step=0.050  min=0.100
$scfdump
$scfintunit
 unit=30       size=0        file=twoint
$scfdiis
$maxcor    2500 MiB  per_core
$drvopt
   cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$interconversion  off
   qconv=1.d-7
   maxiter=25
$coordinateupdate
   dqmax=0.3
   interpolate  on
   statistics    5
$forceupdate
   ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$forceinit on
   diag=default
$energy    file=energy
$grad    file=gradient
$forceapprox    file=forceapprox
$ricore    50000
$rij
$jbas    file=auxbasis
$rundimensions
   natoms=107
   nbf(CAO)=1084
   nbf(AO)=1025
$alpha shells
 a       1-50                                   ( 1 )
 b       1-51                                   ( 1 )
 e       1-100                                  ( 1 )
$beta shells
 a       1-50                                   ( 1 )
 b       1-50                                   ( 1 )
 e       1-100                                  ( 1 )
$disp3 bj
$dft
   functional tpssh
   gridsize   4
$scfconv   7
$scforbitalshift  closedshell=.05
$denconv     0.10000000E-06
$last step      force
$last SCF energy change = -.53043550E-07
$ssquare from ridft
          0.756 (not to be modified here)
$charge from ridft
         -1.000 (not to be modified here)
$dipole from ridft
  x    -0.00000000000009    y     0.00000000000015    z    -0.00000000000474    a.u.
   | dipole | =    0.0000000000  debye
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$orbital_max_rnorm 0.11684022022103E-03
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-3297.532549902    -21061.64020258     9830.822389271    -312.5139025500    -13.94718530334     8259.991797041    -.2454457839104
$restart force
$end
